body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.col2, #intro {
	position: relative;
	margin-left: 290px;
}

.col2, #intro, #contact {
	width: 550px;
}

@font-face {
	font-family: Bebas Neue;
	src: url(BebasNeue-webfont.ttf) format("truetype");
}

a {
	text-decoration: underline;
	color: inherit;
}


/* HEADER */

#header{
	width: 100%;
	height: 220px;
	background-color: #f1f1f1;
	background: url("images/header.jpg") no-repeat left top;
	background-size: cover;
}

#ux-design{
	display: block;
	padding-top: 65px;
	height: 15px;
}

#best-designer-ever, #best-designer-ever-hover{
	margin-top: 60px;
	height: 40px;
	cursor: pointer;
}
#best-designer-ever:hover{
	opacity: .5;
	filter: alpha(opacity=.5);
}

/* INTRO */

#intro {
	padding-top: 50px;
	padding-bottom: 2.5em;
}

.intro-description:first-child {
	margin-top: 11px;
}

.intro-description {
	margin: 1.5em 0;
	color: #555;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.2em;
}

.transition {
	font-style: italic;
}

.intro-img {
	width: 100px;
}
#intro1 .intro-img {
	background: url("images/intro1.png") no-repeat center center;
}
#intro2 .intro-img {
	background: url("images/intro2.png") no-repeat center center;
}
#intro3 .intro-img {
	background: url("images/intro3.png") no-repeat center center;
}
#intro4 .intro-img {
	background: url("images/intro4.png") no-repeat center center;
}

/* NAVIGATION */

#nav-anchor {
	margin-top: 50px;
	width: 186px;
	float: left;
	clear: both;
}

#navigation-bar{
	float: left;
	position: relative;
	margin-top: 15px;
	padding-right: 8px;
	width: 200px;
	border-right: 4px solid #ca847b;
	box-sizing: border-box;
	z-index: 1;
	clear: both;
}
#navigation-bar a {
	text-decoration: none;
}
#navigation-bar ul {
	margin: 0;
	padding: 0;
}

.nav {
	margin: 0;
	padding: 10px 0;
	font-family: Bebas Neue;
	font-size: 1.75em;
	line-height: 22px;
	font-weight: 500;
	color: #444;
	text-align: right;
	list-style: none;
	cursor: pointer;
}
.nav:hover {
	opacity: .6;
	filter: alpha(opacity=.6);
}
.nav:first-child {
	padding-top: 0;
}
.nav:last-child {
	padding-bottom: 0;
}
.nav-active {
	color: #C0796B;
}

.nav-divider {
	width: 32px;
	height: 1px;
	background-color: #444;
	margin-left: auto;
}

.nav-works {
	margin-bottom: 10px;
	display: none;
}
.nav-piece{
	position: relative;
	height: 32px;
}
.nav-img{
	display: inline;
	position: absolute;
	right: 0;
	height: 32px;
	/* border: 1px solid #d1d1d1; */
	box-sizing: border-box;
}
.nav-title{
	display: none;
	float: right;
	text-align: right;
	font-family: Bebas Neue;
	font-size: 1.5em;
	margin: 2px 32px 0 0;
	padding-right: 3px;
	color: #444;
	opacity: .8;
	filter: alpha(opacity=.8);
}
.nav-piece:hover .nav-title {
	display: block;
}
.highlight{
	position: absolute;
	right: 0;
	z-index: 5;
	height:32px;
	width: 32px;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}
.highlight:hover{
	opacity: .5;
	filter: alpha(opacity=.5);
}

/* MAIN CONTENT */

#work {
	position: absolute;
	left: 290px;
}

#work-divider {
	margin-top: 0;
}

.piece {
	position: relative;
}

.portfolio-img {
	display: inline-block;
	width: 550px;
}

.detail-link {
	cursor: pointer;
}

.caption {
	display: inline-block;
	width: 300px;
	margin: 0 60px;
	vertical-align: top;
}

.title{
	margin: 0;
	top: 0;

	display: inline;

	font-family: Bebas Neue;
	font-size: 2.25em;
	font-weight: 700;
	color: #444;
}

.expand{
	height: 12px;
	padding: 6px 6px;
	/*-webkit-transition: -webkit-tranform ease-out 1s;
    -moz-transition: -moz-transform 500ms ease-out 1s;
    -o-transition: -o-transform 500ms ease-out 1s;*/
    transition: all .5s;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.contract{
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
}

.expand, .contract{
	cursor: pointer;
}

.description{
	text-align: left;
	font-family: Georgia, serif;
	font-size: 1em;
}

.info{
	margin-top: 1.5em;
	margin-bottom: 0;
	font-style: italic;
}

.in-progress{
	padding: 3px 7px;
	background-color: #444;
	color: #fff;
	font-family: Bebas Neue;
	font-style: normal;
	font-size: 22px;
}

.text {
	margin: 1em 0 0;
}


.divider{
	margin-top: 2.5em;
	margin-bottom: 4em;
	width: 550px;
	height: 1px;
	background-color: #a3a3a3;
}

.lightbox::before {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: .8;
	filter: alpha(opacity=.8);
	z-index: 500;
	content: " ";
}

.lightbox {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 50vw;
	margin-left: -730px;
	box-sizing: border-box;
	min-height: 90vh;
	width: 900px;
}

.lightbox-container {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	min-height: 90vh;
	padding: 20px 100px;
	background-color: #fff;
	z-index: 501;
}

.control-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background-color: #0bf;
	opacity: .4;
	filter: alpha(opacity=.4);*/
	z-index: 505;
}

.control-close {
	position: absolute;
	top: 7px;
	right: 15px;
	cursor: pointer;
	font-size: 30px;
	line-height: 1em;
	color: #D1D1D1;
}
.control-arrow-left {
	position: absolute;
	top: 75%;
	left: 95px;
	cursor: pointer;
	font-size: 35px;
	line-height: 1em;
	color: #5A5A5A;
	transition: all .3 ease-in-out;
}

.control-arrow-left:hover, .control-arrow-right:hover {
	color: #3D8CDA;
}

.lightbox-img {
	margin: auto;
}

/* MOBILE */

@media (max-width: 1300px) {
	#work {
		width: 550px;
	}
	#work {
		left: 30%;
	}
	.col2, #intro {
		margin-left: 30%;
	}

	.caption {
		margin: 1.5em 0 0;
		width: auto;
	}

}

@media (max-width: 925px) {
	#header{
		height: 300px;
		background: url("images/header-medium.jpg") no-repeat left top;
		background-size: 1000px 300px;
	}
	#best-designer-ever, #best-designer-ever-hover{
		margin-top: 83px;
		height: 50px;
	}
	#navigation-bar {
		display: none;
	}
}

@media (min-width: 650px) and (max-width: 925px) {
	#work, .col2 {
		position: static;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	#intro{
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 650px) {

	#work, .col2 {
		position: static;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	#intro {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
	}

	.portfolio-img, .divider, #contact {
		width: 100%;
	}

}


@media (max-width: 400px) {
	.title{
		font-size: 32px !important;
	}
}