body{
	margin: 0;
	padding: 0;
}

.col2 {
	position: relative;
	left: 280px;
	width: 0;
}

/* HEADER */

#header{
	margin-bottom: 80px;
	width: 100%;
	height: 200px;
	background-color: #f1f1f1;
}

#ux-design{
	display: block;
	padding-top: 65px;
	height: 15px;
}

#best-designer-ever, #best-designer-ever-hover{
	margin-top: 10px;
	height: 55px;
	cursor: pointer;
}

#best-designer-ever-hover{
	display: none;
}

/* NAVIGATION */

#navigation-bar{
	float: left;
	position: relative;
	padding-right: 8px;
	width: 186px;
	border-right: 3px solid #3b71a6;
	box-sizing: border-box;
}

.nav{
	position: relative;
	height: 32px;
	margin-bottom: 5px;
}

.nav-img{
	display: inline;
	position: absolute;
	right: 0;
	height: 32px;
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
}

.nav-title{
	display: none;
	position: absolute;
	right: 32px;
	margin-top: 7px;
	height: 16px;
	opacity: .8;
	filter: alpha(opacity=.8);
}

.highlight{
	position: absolute;
	right: 0;
	z-index: 5;
	height:32px;
	width: 32px;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}

.highlight:hover{
	opacity: .5;
	filter: alpha(opacity=0);
}

#nav-title1 {
	width: 80px;
}

/* MAIN CONTENT */

#portfolio {
	position: absolute;
	left: 280px;
}

.piece {
	position: relative;
}

.portfolio-img {
	display: inline-block;
}


.caption {
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
}

@media (max-width: 1216px) {
	.caption {
		margin-left: 0px;
	}
}

@media (max-width: 1155px) {
	.caption {
		margin-top: 25px;
	}
}

@media (min-width: 650px) and (max-width: 850px) {
	#portfolio, .col2 {
		position: static;
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 850px) {
	#navigation-bar {
		display: none;
	}
}

@media (max-width: 650px) {

	#portfolio, .col2 {
		position: static;
		margin-left: 5%;
	}

	.portfolio-img {
		width: 95%;
	}
}

.title{
	height: 25px;
	top: 0;
}

.expand{
	height: 12px;
	padding-left: 18px;
	padding-top: 8px;
	margin-bottom: 8px;
}

.contract{
	display: none;
	height: 12px;
	padding-left: 18px;
	padding-top: 8px;
	margin-bottom: 8px;
}

.title, .expand, .contract{
	cursor: pointer;
}

.description{
	//display: none;
	margin-top: 15px;
	margin-bottom: 0;
	text-align: left;
	width: 300px;
	font-family: Georgia, serif;
}


.divider{
	margin-top: 35px;
	margin-bottom: 80px;
	width: 550px;
	height: 1px;
	background-color: #a3a3a3;
}