body{
	margin: 0;
	padding: 0;
}

.col2, #intro {
	position: relative;
	left: 280px;
}

@font-face {
	font-family: Bebas Neue;
	url('BebasNeue-webfont.ttf');
}

a {
	text-decoration: underline;
	color: inherit;
}


/* HEADER */

#header{
	margin-bottom: 65px;
	width: 100%;
	height: 200px;
	background-color: #f1f1f1;
}

#ux-design{
	display: block;
	padding-top: 65px;
	height: 15px;
}

#best-designer-ever, #best-designer-ever-hover{
	margin-top: 10px;
	height: 55px;
	cursor: pointer;
}

#best-designer-ever-hover{
	display: none;
}

/* INTRO */

#intro {
	margin-bottom: 60px;
	color: #555;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
}

.intro-description {
	width: 925px;
}

/* NAVIGATION */

#navigation-bar{
	float: left;
	position: relative;
	padding-right: 8px;
	width: 186px;
	border-right: 3px solid #3b71a6;
	box-sizing: border-box;
}

.nav, .nav-end{
	position: relative;
	height: 32px;
}

.nav {
	margin-bottom: 5px;
}

.nav-img{
	display: inline;
	position: absolute;
	right: 0;
	height: 32px;
	border: 1px solid #d1d1d1;
	box-sizing: border-box;
}

.nav-title{
	display: none;
	float: right;
	text-align: right;
	font-family: Bebas Neue;
	font-size: 24px;
	margin: 2px 32px 0 0;
	color: #444;
	opacity: .8;
	filter: alpha(opacity=.8);
}

.highlight{
	position: absolute;
	right: 0;
	z-index: 5;
	height:32px;
	width: 32px;
	background: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}

.highlight:hover{
	opacity: .5;
	filter: alpha(opacity=0);
}

/* MAIN CONTENT */

#portfolio {
	position: absolute;
	left: 280px;
}

.piece {
	position: relative;
}

.portfolio-img {
	display: inline-block;
}

.caption {
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
}

/*.title{
	height: 25px;
	top: 0;
}*/

.title{
	margin: 0;
	top: 0;

	display: inline;

	font-family: Bebas Neue;
	font-size: 36px;
	font-weight: 700;
	color: #555;
}

.expand{
	height: 12px;
	padding: 6px 6px;
	/*-webkit-transition: -webkit-tranform ease-out 1s;
    -moz-transition: -moz-transform 500ms ease-out 1s;
    -o-transition: -o-transform 500ms ease-out 1s;*/
    transition: all .5s;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.contract{
	transform: rotate(0);
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-o-transform: rotate(0);
}

.title, .expand, .contract{
	cursor: pointer;
}

.description{
	text-align: left;
	width: 300px;
	font-family: Georgia, serif;
}

.info{
	margin-top: 15px;
	margin-bottom: 0;
	font-style: italic;
}

.text {
	margin: 10px 0 0;
}


.divider{
	margin-top: 35px;
	margin-bottom: 80px;
	width: 550px;
	height: 1px;
	background-color: #a3a3a3;
}

@media (max-width: 1216px) {
	.caption {
		margin-left: 0px;
	}

	.intro-description{
		width: 70%;
	}
}

@media (max-width: 1155px) {
	.caption {
		margin-top: 25px;
	}

	.intro-description{
		width: 550px;
	}
}

@media (min-width: 650px) and (max-width: 850px) {
	#portfolio, .col2 {
		position: static;
		width: 550px;
		margin-left: auto;
		margin-right: auto;
	}

	#intro{
		left: 0;
	}

	.intro-description{
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 850px) {
	#navigation-bar {
		display: none;
	}
}

@media (max-width: 650px) {

	#portfolio, .col2 {
		position: static;
		margin-left: 5%;
	}

	.portfolio-img {
		width: 95%;
	}

	#intro{
		left: 0;
	}

	.intro-description{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}


@media (max-width: 400px) {
	.title{
		font-size: 32px !important;
	}
}